<p id="notice" class="w3-panel"><%= notice %></p>

<h1>Products</h1>

<table class="w3-table-all">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><h4><%= sanitize(product.title) %></h4></td>
        <td width="50%"><%= sanitize(strip_tags(product.description)) %></td>
        <td><%= image_tag(product.image_url) %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= link_to 'Add to Cart', product , class:"w3-button w3-red w3-border" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


