<!DOCTYPE html>
<html>
  <head>
    <title>IT231W1718 Depot W3CSS</title>
    
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="w3-container">

    <div class="w3-bar w3-light-grey w3-border">
      <a href="/" class="w3-bar-item w3-button w3-border"><%= image_tag 'mad-icon.png', alt: 'The Mad Icon', height: '28', width: '28', style: 'display: block; margin-left: auto; margin-right: auto; margin-bottom: none; margin-top: none' %></a>
      <a href="/static_pages/home" class="w3-bar-item w3-button w3-border">Home</a>
      <a href="/" class="w3-bar-item w3-button w3-border">Root</a>
      <a href="/static_pages/help" class="w3-bar-item w3-button w3-border">Help</a>
      <a href="/static_pages/about" class="w3-bar-item w3-button w3-border">About</a>
      <li href="#" class="w3-bar-item w3-light-blue">Temporary Nav Separator</li>
      <a href="/products" class="w3-bar-item w3-button w3-border">Manage Products</a>
    </div>

   <div class="w3-container">
    <%= yield %>
   </div>    

  </body>
</html>
